<!DOCTYPE HTML>
<html>
	<head>
		<link rel= "stylesheet" href= "{{ url_for('static',filename='style.css') }}">
		<title>Waggle Node Web API</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='waggle-logo.ico') }}">
	</head>	
	<body>
		<div class="topbar">
			<img src="/waggle-logo.png" alt="HTML5 Icon" class="topLogo">
			<h3 class="waggleTitle">Waggle Node Metrics</h3>
		</div>			
		<div class="navbar">
			<ul class="navlist">
				<li class="navelem"><a href="{{ url_for("home") }}">Home</a></li>
				<li class="navelem"><a href="{{ url_for("memInfo")  }}">Memory Info</a></li>
				<li class="navelem"><a href="{{ url_for("generalInfo") }}">General Info</a></li>
				<li class="navelem"><a href="{{ url_for("services")  }}">Services</a></li>
				<li class="subtitle">AoT Project @ Argonne Nat'l Laboratory</li>
			</ul>
		</div>
		{% block content  %} {% endblock  %}
	</body>
</html>
